.app {
  background: var(--bg-color);
  outline-offset: -15px;
  outline: 7px dotted var(--bg-color-lighter);
}
.spinner {
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

