.skills-section {
  position: relative;
  z-index: 91;
  background-color: var(--bg-color);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  grid-auto-rows: minmax(500px, auto);
  padding: 1rem 8rem;
}
.skills-section::after {
  content: "skill";
  text-transform: capitalize;
  font-weight: 900;
  color: var(--bg-color-dark);

  font-size: 20rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}
.my-skills {
  text-align: justify;
}
.my-skills > h2 {
  text-align: start;
}
.my-skills-details {
}
/* media queries */

@media screen and (max-width: 768px) {
  .skills-section {
    justify-content: space-evenly;
  }
  .skills-section {
    padding: 1rem 2rem;
  }
}
